.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.task-input {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

button {
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.columns {
  display: flex;
  justify-content: space-around;
}

.columns .column {
  width: 30%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  background-color: #ddd;
}

li.completed span {
  text-decoration: line-through;
  color: gray;
}

span {
  cursor: pointer;
}

button {
  background-color: #ff6666;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ff4d4d;
}
